body{
    background-color:  #8CC461;
    
}
#tbl{
    width: 800px;
height: 158px;
margin-top: 50px;
margin-left: 300px;
border-radius: 13px;
background: #8CC461;
border: 2px solid #FFFFFF;
padding-top: 20px;
padding-bottom: 20px;

}
#box1{
    width:500px;
    height:120px;
    font-family: 'Roboto';
font-size: 40px;
font-weight: 600;
line-height: 47px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF;
padding-left: 10px;
}
#box2{
    width: 120px;
height: 120px;
margin-top: 50px;
margin-left: 50px;
margin-bottom: 50px;
margin-right: 20px;
border-radius: 9px;
background: #FFFFFF;

}
#box3{
    width: 120px;
height: 120px;
margin-top: 50px;
margin-left: 50px;
margin-bottom: 50px;
margin-right: 20px;
border-radius: 9px;
background: #FFFFFF;
padding-right: 10px;
}
#compscore{
    font-family: 'Roboto';
font-size: 17px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.1em;
text-align: left;
color: #656565;
padding-top: 5px;

}
#userscore{
    font-family: 'Roboto';
font-size: 17px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.1em;
text-align: left;
color: #656565;
padding-top: 5px;

}
#txt2{
    font-family: 'Roboto';
font-size: 68px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0em;
text-align: center;
color: #252525;

}
#txt3{
    font-family: 'Roboto';
font-size: 68px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0em;
text-align: center;
color: #252525;

}
#options{
    margin-left: 35%;
    margin-top: 40px;
}
#crcl{
    margin-bottom: 100px;
    height: 100px;
}
#circle1{
    height: 100px;
    width: 100px;
    border: 16px solid #0074B6;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    position: relative;
    margin-top: 150px;
    margin-bottom: 200px;
    bottom: 50px;
    margin-left: -100;
    left: 100px;
    top: -151;
}
.circle2{
    top:0%;
    left: 0%;
     width:100%;
     height:100%;
    
   background-color: #ffffff;
   border-radius: 50%;
   display: inline-block;
   position: relative;
 }
 #circle4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    position: relative;
    border: 16px solid #BD00FF;
    bottom: 300px;
    margin-top: 70px;
    top: -175;
    right: 0px;
    margin-right: 0px;
    left: 400px;
   
}

.image{
    align-items: center;
    margin: 20px;
}
#rule{
    width: 119px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    background: #8CC461;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 710px;
    position: absolute;
    top: 700px;
    left: 500px;
}
#next{
    width: 119px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    background: #8CC461;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 860px;
    position: absolute;
    top: 700px;
    left: 500px;
}
#you{
    margin-left: 410px;
    margin-top: 100px;
    margin-bottom: -80;
    font-family: 'Roboto';
font-size: 17px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF;

} 
 #pc{
    margin-left: 940px;
    margin-top: 80px;
    margin-bottom: -80;
    font-family: 'Roboto';
font-size: 17px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF;
 }  

#matter{
    width: 400px;
    align-items: center;
    display: grid;
    margin-top: -300px;
}
#play{
    width: 174px;
    height: 44px;
    top: 639px;
    left: 581px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgb(107, 107, 107);
    align-items: center;
    border-radius: 9px;
    border-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    margin-left: 150px;
    margin-top: 10px;
}
#txt4{
    font-family: Roboto;
font-size: 39px;
font-weight: 800;
line-height: 46px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
margin-left: 100px;
}
#circle5{
    height: 130px;
    width: 130px;
    border: 30px solid #08a42f;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    position: relative;
    margin-bottom: 200px;
    bottom: 50px;
    margin-left: 20px;
    margin-top: 70px;
}
#circle6{
    height: 230px;
    width: 230px;
    background: #1DA82BC9;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    position: relative;
    margin-bottom: 200px;
    bottom: 50px;
    margin-left: 20px;
    margin-top: 70px;
}
#circle7{
    height: 270px;
    width: 270px;
    background: #2E9A2563;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    position: relative;
    margin-top: 150px;
    margin-bottom: 200px;
    bottom: 50px;
    margin-left: -100;
    margin-right: -100;
    left: -100;
    top: -120;
}
.btn{
    border: none;
    border-radius: 50%;
    margin-left: -5;
}